
body {
	font-size: 16px;
	font-family: "italica", Helvetica, sans-serif;
	background: gray;
}

#navegacao {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area {
	width: 720px;
	margin: 0 auto;